/data
*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
Win32_LIB_ASM_Debug
Win32_LIB_ASM_Release
*.bsc
/SRB2.layout
/SRB2.depend
/src/comptime.h
*.dgb
*.debug
*.debug.txt
*.user
*.db
*.opendb
/.vs
/debian
/assets/debian
/make
/bin
/build
/build/*
/CMakeUserPresets.json
/out
/objs/VC10
/thirdparty/vcpkg-overlays
libs/vcpkg/*

node_modules/
emsdk/
vcpkg_installed/
launcher-dist/

# Build files for web browsers.
# Keeping the bin folder so people don't have to rebuild themselves.

build-wasm/*
!build-wasm/*.js
!build-wasm/*.wasm
!build-wasm/*.data
!build-wasm/*.worker.js
!build-wasm/bin
build-wasm/CMakeFiles/
build-wasm/testing/
build-wasm/CMakeFiles/
build-wasm/vcpkg_installed/
build-wasm/assets/
build-wasm/src/
build-wasm/thirdpart/
build-wasm/cmake_install.cmake
build-wasm/CMakeCache.txt
build-wasm/CPackConfig.cmake
build-wasm/CPackSourceConfig.cmake
build-wasm/HEAD
build-wasm/Makefile

# Build files for dedicated netgame
# Also keeping so people don't have to rebuild themselves.

build-wasm-node/*
!build-wasm-node/*.js
!build-wasm-node/*.wasm
!build-wasm-node/*.data
!build-wasm-node/*.worker.js
!build-wasm-node/bin
build-wasm-node/CMakeFiles/
build-wasm-node/testing/
build-wasm-node/CMakeFiles/
build-wasm-node/vcpkg_installed/
build-wasm-node/assets/
build-wasm-node/src/
build-wasm-node/thirdpart/
build-wasm-node/cmake_install.cmake
build-wasm-node/CMakeCache.txt
build-wasm-node/CPackConfig.cmake
build-wasm-node/CPackSourceConfig.cmake
build-wasm-node/HEAD
build-wasm-node/Makefile

# This is random but I use this to connect to netgames at school so
randomrants-proxy/